$primary-font-family:'Open Sans', sans-serif;
$secondary-font-family:'Oswald', sans-serif;
$body-font-size:16px;
$base-color:#212221;

$tablet-width: 991px;
$mobile-width: 767px;
$desktop-width: 1400px;
